<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="~/StyleSheets/studentMenuStyle.css">
	<link rel="stylesheet" type="text/css" href="~/StyleSheets/studentRoomIndex.css" />
	<link rel="stylesheet" type="text/css" href="~/StyleSheets/studentRoomShow.css" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<header>
		<img src="~/Assets/Picture/logo.png" />
		<a href="~/student/Rooms/search"><img src="~/Assets/Picture/searchlogo.png" class="search"/></a>
	</header>
	<hr />
	<flex-container>
		<aside class="sidebar">
			<div id="leftside-navigation" class="nano">
				<ul class="nano-content">
					<li>
						<a href="/student/Rooms/search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 検索</a><hr />
						<a href="/student/Homes/mypage"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> マイページ</a><hr />
						<a href="/student/Teachers/index"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 講師一覧</a><hr />
						<a href="/student/Rooms/index"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> ルーム一覧</a><hr />
						<a href="/student/Points/create"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> ポイント購入</a><hr />
						<a href="/student/Homes/rule"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> ルールとマナー</a>
					</li>
				</ul>
			</div>
		</aside>
		<div id="right-box" class="main-box">
			@RenderBody()
		</div>
	</flex-container>
    <footer>
        <div id="above" class="footer-boxes">
            <div class="header-contents">
                <span>FAQ</span>
            </div>
            <div class="header-contents">
                <span>About</span>
            </div>
            <div class="header-contents">
                <span>Contact us</span>
            </div>
        </div>
        <div id="below" class="footer-boxes">
            <div class="header-contents">
                <span>Agreement</span>
            </div>
            <div class="header-contents">
                <span>Pravacy</span>
            </div>
            <div class="header-contents">
                <span>Copyright</span>
            </div>
        </div>
    </footer>
</body>
</html>
