<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/StyleSheets/TeacherMenu.css">
    <title>@ViewBag.Title</title>
</head>
<body>
	<header>
		<img src="~/Assets/Picture/logo.png" />
		<a href="~/student/Homes/mypage"><img src="~/Assets/Picture/検索ロゴ.png" class="search" /></a>
	</header>
	<hr />
	<flex-container>
		<aside class="sidebar">
			<div id="leftside-navigation" class="nano">
				<ul class="nano-content">
					<li>
						<a href="/teacher/Homes/mypage"><i class="fa fa-dashboard"></i><span>マイページ</span></a>
						<a href="/teacher/Rooms/index"><i class="fa fa-dashboard"></i><span>ルーム一覧</span></a>
						<a href="/teacher/Points/index"><i class="fa fa-dashboard"></i><span>ポイント管理</span></a>
						<a href=""><i class="fa fa-dashboard"></i><span>ルールとマナー</span></a>
					</li>
				</ul>
			</div>
		</aside>
		<div class="col-lg-10 col-md-9">
			@RenderBody()
		</div>
	</flex-container>
	<hr />
	<footer>
		<div id="above" class="footer-boxes">
			<div class="header-contents">
				<span>FAQ</span>
			</div>
			<div class="header-contents">
				<span>About</span>
			</div>
			<div class="header-contents">
				<span>Contact us</span>
			</div>
		</div>
		<div id="below" class="footer-boxes">
			<div class="header-contents">
				<span>Agreement</span>
			</div>
			<div class="header-contents">
				<span>Pravacy</span>
			</div>
			<div class="header-contents">
				<span>Copyright</span>
			</div>
		</div>
	</footer>
</body>
</html>
