<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/StyleSheets/TeacherMenu.css">
    <title>@ViewBag.Title</title>
</head>
<body>
	<header>
		<img src="~/Assets/Picture/logo.png" />
		<a href="~/teacher/Homes/mypage"><img src="~/Assets/Picture/searchlogo.png" class="search" /></a>
	</header>
	　　　
	<hr />
	<flex-container>
		<aside class="sidebar">
			<div id="leftside-navigation" class="nano">
				<ul class="nano-content">
					<li>
						<a href="/teacher/Homes/mypage"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> マイページ</a><hr />
						<a href="/teacher/Rooms/index"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> ルーム一覧</a><hr />
						<a href="/teacher/Rooms/create"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> ルーム作成</a><hr />
						<a href="/teacher/Points/index"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> ポイント管理</a><hr />
						<a href=""><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> ルールとマナー</a>
					</li>
				</ul>
			</div>
		</aside>
		<div class="col-lg-10 col-md-9">
			@RenderBody()
		</div>
	</flex-container>
	<hr />
	<footer>
		<div id="above" class="footer-boxes">
			<div class="header-contents">
				<span>FAQ</span>
			</div>
			<div class="header-contents">
				<span>About</span>
			</div>
			<div class="header-contents">
				<span>Contact us</span>
			</div>
		</div>
		<div id="below" class="footer-boxes">
			<div class="header-contents">
				<span>Agreement</span>
			</div>
			<div class="header-contents">
				<span>Pravacy</span>
			</div>
			<div class="header-contents">
				<span>Copyright</span>
			</div>
		</div>
	</footer>
</body>
</html>
