@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
	<form action="/student/Homes/update" method="post" name="Student">
		<h1>ユーザー変更画面</h1>
		<div>
			<span>メールアドレス</span>
		</div>
		<div>
			<span><input type="text" name="mailaddress"></span>
		</div>
		<div>
			<span>名前</span>
		</div>
		<div>
			<span><input type="text" name="name"></span>
		</div>
		<div>
			<span>プロフィール画像</span>
		</div>
		<div>
			<span><input type="file" name="imagePath"></span>
		</div>
		<div>
			<span>SkypeID</span>
		</div>
		<div>
			<span><input type="text" name="skypeId"></span>
		</div>
		<div>
			<span><input type="submit" value="ユーザー変更"></span>
			<span><input type="submit" value="キャンセル"></span>
		</div>
	</form>
</body>
</html>

