<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    メモ: テスト プロジェクトにのみ適用される構成設定の App.config ファイルに
    エントリを追加します。
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="Db" connectionString="Data Source=10.32.97.1;Initial Catalog= 18jnG8db;User ID = 18jng8;Password= 18jng8" />
    </connectionStrings>
</configuration>
