@model telledge.Models.Room

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body>
	<main class="clearfix">
		<div id="main-left" class="boxes border float">
			<div id="room-name" class="center">
				<span>@Model.roomName</span>
			</div>
			<div id="room-desc" class="center">
				<span>@Model.description</span>
			</div>
			<div id="room-buttom" class="left-margin">
				<input type="submit" id="submit_button" class="button" name="finishRoom" value="ルーム終了">
			</div>
			<div id="room-detail">
				<table class="left-margin">
					<col span="1" width="200px">
					<tr>
						<td>通話待ち人数</td>
						<td>２人</td>
					</tr>
					<tr>
						<td>通話合計時間</td>
						<td>２５分</td>
					</tr>
				</table>
			</div>
			@*@foreach (var item in @Model)
			{*@
				<div id="room--list">
					<table border="1" class="list-margin">
						<col span="5" width="200px">
						<tr>
							<td>順番</td>
							<td>名前</td>
							<td>要望</td>
							<td>対応不可</td>
						</tr>
						<tr>
							<td>2人</td>
							<td>田中</td>
							<td>手短に説明してほしいです。</td>
							<td><input type="submit" class="button-cancel" name="cancel" value="キャンセル"></td>
						</tr>
					</table>
				</div>
			@*}*@
		</div>

		<div id="main-right" class="boxes float">
			<div id="call" class="border">
				<table>
					<col span="1" width="150px">
					<tbody>
						<tr>
							<td>生徒名</td>
							<td>小暮</td>
						</tr>
						<tr>
							<td>SkypeID</td>
							<td>4444</td>
						</tr>
						<tr>
							<td>残り時間</td>
							<td>@Model.endTime</td>
						</tr>
						<tr>
							<td>最大残り時間</td>
							<td>@Model.endScheduleTime</td>
						</tr>
						<tr>
							<td id="margin-bottom">要望</td>
							<td id="margin-bottom">ＸＸＸＸＸＸ</td>
						</tr>
						<tr>
							<td id="margin-bottomm"><input type="submit" class="button-cancel" name="submit" value="通話終了" /></td>
						</tr>
						<tr>
							<td id="margin-bottommm"><input type="submit" id="button-blacklist" name="submit" value="ブラックリスト"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</body>
</html>
