@model IEnumerable<telledge.Models.Room>
@{
	Layout = "~/Views/Shared/teacherMenu.cshtml";
}
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="~/StyleSheets/TeacherRoomnew.css">
<link rel="stylesheet" href="~/StyleSheets/common.css">
<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/Telledge/Autocomp.js"></script>
<main class="clearfix">
	<div id="room-name" class="center example">
		<span>ルーム作成</span>
	</div>
	<div class="center">
		<span style="color:red">@ViewBag.ErrorMsg</span>
	</div>
	<form action="/teacher/Rooms/Create" method="post" name="Teacher">
		<table class="example">
			<col span="1" width="180px">
			<tr>
				<td class="room-font">ルーム名</td>
				<td><input type="text" name="roomName" value=""></td>
			</tr>
			<tr>
				<td>タグ</td>
				<td><input id="txtKeywd" type="text" name="tag" value=""></td>
			</tr>
			<tr>
				<td>ルーム説明</td>
				<td>
					<textarea name="description" cols="30" rows="7"></textarea>
				</td>
			</tr>
			<tr>
				<td>最低保障時間(分)</td>
				<td><input type="number" name="worstTime" value=""></td>
			</tr>
			<tr>
				<td>最大延長時間(分)</td>
				<td><input type="number" name="extensionTime" value=""></td>
			</tr>
			<tr>
				<td>ポイント</td>
				<td><input type="number" name="point" value=""></td>
			</tr>
			<tr>
				<td>通話終了予定時刻</td>
				<td><input type="datetime-local" name="endScheduleTime" value="" step="600" ></td>
			</tr>
			<tr>
				<td id="margin-bottom"><input class="btn btn-default" type="submit" value="ルーム作成"></td>
			</tr>
		</table>
	</form>
</main>
