@model IEnumerable<telledge.Models.Room>

@{
	Layout = "~/Views/Shared/teacherMenu.cshtml";
}

	

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="~/StyleSheets/TeacherRoomsindex.css">
<main>
	<form action="/teacher/Rooms/create" method="post" name="Teacher">
		<a href="/teacher/Rooms/Create">ルーム作成</a>
	</form>
	<form action="/teacher/Passwords/edit" method="get" name="Teacher">
		<a href="/teacher/Passwords/edit">パスワード変更画面</a>
	</form>
	@foreach (var item in Model)
	{
		<div class="room-boxes">
			<h2 class="room-title">@item.roomName</h2>
			<h3 class="room-title">@item.description</h3>
			<div class="flex">
			</div>
			<div class="room-detail" class="float">
				<table class="rooms-table">
					<col span="2" width="300px">
					<tbody>
						<tr>
							<td><h3>タグ</h3></td>
							<td><h3>@item.tag</h3></td>
						</tr>
						<tr>
							<td><h3>獲得ポイント数</h3></td>
							<td><h3>@item.point</h3></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	}
</main>

