<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="../work/index.css">
</head>
<body>
    <!-- bodyタグ内の要素を取り出す -->
    <main>
        <div class="room-boxes">
            <h2 class="room-title">映画の魅力について</h2>
            <h3 class="room-title">映画は神である。映画で聞きたいことがあれば何でも聞いてね。</h3>
            <div class="flex">
            </div>
            <div class="room-detail" class="float">
                <table class="rooms-table">
                    <col span="2" width="300px">

                    <tbody>
                        <tr>
                            <td><h3><li>合計生徒数<h3></li></td>
                            <td><h3>５０人</h3></td>
                        </tr>
                        <tr>
                            <td><h3><li>獲得ポイント数</h3></li></td>
                            <td><h3>１５０ポイント</h3></td>
                        </tr>
                        <tr>
                            <td><h3><li>対応合計時間</h3></li></td>
                            <td><h3>１時間３０分</h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="room-boxes">
            <h2 class="room-title">数学について</h2>
            <h3 class="room-title">数学の事なら何でも聞いてくれ</h3>
            <div class="flex">
            </div>
            <div class="room-detail" class="float">
                <table class="rooms-table">
                    <col span="2" width="300px">
                    <tbody>
                        <tr>
                            <td><h3><li>合計生徒数<h3></li></td>
                            <td><h3>2人</h3></td>
                        </tr>
                        <tr>
                            <td><h3><li>獲得合計ポイント数</h3></li></td>
                            <td><h3>10ポイント</h3></td>
                        </tr>
                        <tr>
                            <td><h3><li>対応合計時間</h3></li></td>
                            <td><h3>20分</h3></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>
