@{
   Layout = "~/Views/Shared/studentMenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
	<form action="/student/Points/create" method="post" name="Student">
		<h1>ポイント購入画面</h1>
		<div>
			<span>ブランド名</span>
		</div>
		<div>
			<select name="brand">
				<option value="VISA">VISA</option>
				<option value="Master">Master</option>
				<option value="JCB">JCB</option>
			</select>
		</div>
		<div>
			<span>カード番号</span>
		</div>
		<div>
			<input type="text" name="cardNumber">
		</div>
		<div>
			<span>有効期限</span>
		</div>
		<div>
			<input type="text" name="validatedDate">
		</div>
		<div>
			<span>セキュリティコード</span>
		</div>
		<div>
			<input type="text" name="secureCode">
		</div>
		<div>
			<span>購入ポイント</span>
		</div>
		<div>
			<select name="selectedPoint">
				<option value="100">100ポイント</option>
				<option value="500">500ポイント</option>
				<option value="1000">1000ポイント</option>
				<option value="5000">5000ポイント</option>
			</select>
		</div>
		<div>
			<input type="submit" name="buy" value="購入">
		</div>
	</form>
</body>
</html>
