@{
	Layout = "~/Views/Shared/studentMenu.cshtml";
}

<script src="~/Scripts/card/card.js"></script>
<link href="~/StyleSheets/studentPointCreate.css" rel="stylesheet" />


<title>Card &ndash; the better way to collect credit cards</title>
<meta name="viewport" content="initial-scale=1">
<!-- CSS is included through the card.js script -->
<div class="demo-container">
	<div class="card-wrapper"></div>

	<div class="form-container active">
		<form action="">
			<div>
				<input class="half" placeholder="Card number" type="tel" name="number">
				<input class="half" placeholder="Full name" type="text" name="name">
			</div>
			<div>
				<input class="quarter" placeholder="MM/YY" type="tel" name="expiry">
				<input class="quarter" placeholder="CVC" type="number" name="cvc">
				<input id="submit-button" class="half" type="submit" />
			</div>

		</form>
	</div>
</div>

<script>
	new Card({
		form: document.querySelector('form'),
		container: '.card-wrapper'
	});
</script>
