@{
	Layout =null;
}

<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" href="~/StyleSheets/signin.css">
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body class="Registrations-box center radious">
	<form action="/student/Registrations/create" method="post" name="Student">
		<h2>生徒用登録画面</h2>
		<div>
			<span>メールアドレス</span>
		</div>
		<div>
			<span><input type="text" name="mailaddress"></span>
		</div>
		<div>
			<span>パスワード</span>
		</div>
		<div>
			<span><input type="password" name="password"></span>
		</div>
		<div>
			<span>確認用パスワード</span>
		</div>
		<div>
			<span><input type="password" name="passwordConfirmation"></span>
		</div>
		<div class="small">
			<span>
				続行することで、 Telledgeの<a href="xxxx.html">利用規約</a><br>
				および<a href="xxxx.html">プライバシーポリシ</a>に
				同意するものとみなされます。
			</span>
		</div>
		<div class="margin-buttom">
			<button class="btn btn-success" style="width:40%">登録</button>
		</div>
		
	</form>
</body>
</html>
