
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/StyleSheets/StudentLogin.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script type="text/javascript" src="jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body>
    <main class="clearfix">
        <form action="/student/sessions/create" method="post" name="Student">
            <div class="room-boxes">
                <div id="room-name" class="center example">
                    <h1> <span>講師用ログイン画面</span></h1>
                </div>

                <table class="example">
                    <col span="1" width="180px">
                    <tr>
                        <td class="room-font">メールアドレス</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="margin"  name="mailaddress"size="60%" value=""></td></td>
                    <tr>
                        <td class="room-font">パスワード</td>
                    </tr>
                    <tr>
                        <td><input type="password" class="margin" size="60%" name="password" value=""></td>
                    </tr>
                    <tr>
                        <td class="room-font2">
                            続行することで、 Telledgeの<a href="xxxx.html">利用規約</a>および<a href="xxxx.html">プライバシー規約</a>に
                            同意するものとみなされます。
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="room-button-left" name="submit" value="ログイン" /></td>
                    </tr>
                    <tr>
                        <td><a href="xxxx.html" class="password">パスワードを忘れた方は</a></td>
                    </tr>
                    <tr>
                        <td width="40%"><hr color="#C0C0C0" size="1" class="long"></td>
                        <td>未登録の場合はこちらへ</td>
                        <td width="40%"><hr color="#C0C0C0" size="1" class="small"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" class="color" name="submit" value="新規会員登録" /></td>
                    </tr>
                </table>
            </div>
            </form>
    </main>
</body>
</html>
