
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StyleSheets/Login.css">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Scripts/location.js"></script>
</head>
<body>
	<main class="clearfix">
		<form action="/teacher/sessions/create" method="post" name="Teacher">
			<div class="room-boxes  radious">
				<div id="room-name" class="center example">
					<h2><span>講師用ログイン画面</span></h2>
				</div>
				<div class="margin-left-text">
					<div>
						<span>メールアドレス</span>
					</div>
					<div>
						<span><input type="text"class="width" name="mailaddress"></span>
					</div>
					<div>
						<span>パスワード</span>
					</div>
					<div>
						<span><input type="password"class="width" name="password"></span>
					</div>
				</div>
				<div class="btn btn-default">
					<button class="btn btn-default button-login" style="width:40%">ログイン</button>
				</div>
				<div>
					<span style="font-size:smaller">
						続行することで、 Telledgeの<a href="xxxx.html">利用規約</a>および<a href="xxxx.html">プライバシー規約</a>に
						同意するものとみなされます。
					</span>
				</div>
				<div>
					<span><a href="xxxx.html" class="password font-size">パスワードを忘れた方は</a></span>
				</div>
			</div>
			<div>
				<table style="margin-left:35%">
					<tr>
						<td width="30%"><hr color="#C0C0C0" size="1px"></td>
						<td style="margin:40%">未登録の場合はこちらへ</td>
						<td width="30%"><hr color="#C0C0C0" size="1px"></td>
					</tr>
				</table>
			</div>
			<div class="btn btn-default">
				<button class="btn btn-default button-login" style="width:30%" onclick="jump()">新規会員登録</button>
			</div>
		</form>
	</main>
</body>
</html>
