.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.center{
	text-align: center;
}
.block{
	display: block;
}
.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
