.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.room-images{
	height: 100px;
	width: 100px;
	display: block;
}

.room-boxes {
	width: 40%;
	padding: 50px 100px;
	padding-bottom: 100px;
	margin: 30px 4%;
	border-style: outset;
	box-shadow: 6px 6px #d6d8d4a1;
}

.room-title{
	text-align: center;
}

.rooms-table{
	line-height: 200%
}


.float{
	float: left;
}

.flex{
	display: flex;
}

.flex-middle{
  align-items: center;
}

main {
	display: flex;
	flex-wrap: wrap;
}