
.bkRGBA {
    /* 背景画像の透過用css */
    height: 100%;
    background: rgba(255,255,255,0.4);
}


.Text {
    opacity: 0.7;
    text-align: center;
}

.tagFlex {
    display: flex;
    justify-content: center;
}

.ui-widget-content{
	border: 0px;
}

#detail-table{
	font-size: 18px;
	width: 30%;
	margin:30px auto;
	text-align: left;
}

main hr
{
	width: 70%;
	margin: 0 auto;
	background-color: #a7a7a7;
}
#button-box{
	margin: 20px 0;
}