.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.example {
    height: 60px;
    width: 60px;
    background-color: red;
    display: block;
}

.room-boxes {
	width: 50%;
	padding: 50px 100px;
	padding-bottom:100px;
	margin: 30px auto;
	border-style: outset;
	box-shadow: 6px 6px #d6d8d4a1;
}

.room-title {
    text-align: center;
}

.rooms-table {
    line-height: 200%;
    padding-left: 100px;
}


.float {
    float: left;
}

.flex {
    display: flex;
}

.flex-middle {
    align-items: center;
}

.font-size {
    font-size: large;
}
.margin{
	margin-left:30%;
}