@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
	<form action="/student/Passwords/create" method="post" name="Student">
		<h1>パスワード復旧画面</h1>
		<div>
			<span>会員登録の際に使用した確認用メールアドレスを入力してください。</span>
		</div>
		<div>
			<span>確認用メールアドレス</span>
		</div>
		<div>
			<span><input type="text" name="mailaddress"></span>
		</div>
		<div>
			<span><input type="submit" value="送信" /></span>
		</div>
		</form>
</body>
</html>
