<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Telledge</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext" rel="stylesheet">

  <!-- Bootstrap CSS File -->
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

  <!-- Libraries CSS Files -->
	<link href="~/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Scripts/fancybox/fancybox.css" rel="stylesheet" />

  <!-- Main Stylesheet File -->
	<link href="~/StyleSheets/top.css" rel="stylesheet" />

  <link rel="prefetch" href="img/zoom.png">

  <!-- =======================================================
    Template Name: Munter
    Template URL: https://templatemag.com/munter-bootstrap-one-page-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-offset="58" data-target="#navigation">

	<!-- Fixed navbar -->
	<div id="navigation" class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#intro" class="smoothscroll">Home</a></li>
					<li><a href="#about-us" class="smoothscroll">About Telledge</a></li>
					<li><a href="#portfolio" class="smoothscroll">Portfolio</a></li>
					<li><a href="#process" class="smoothscroll">Process</a></li>
					<li><a href="#clients" class="smoothscroll">Clients</a></li>
					<li><a href="#contact" class="smoothscroll">Contact</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<!-- === MAIN Background === -->
	<div class="slide story" id="intro" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-semibold">Telledge <span class="font-thin">beyond common sense.</span></h1>
					<h4 class="font-thin">We help that <span class="font-semibold">you proceed  </span>to previously.</h4>
					<br>
					<br>
				</div>
				<!-- /col-12 -->
			</div>
			<!-- /row -->
			<div id="home-row-2" class="row clearfix">

				<div class="col-12 col-sm-4">
					<a href="#portfolio" class="smoothscroll navigation-slide-a">
						<div class="home-hover navigation-slide">
							<object id="hoge" width='128' height='128' type="image/svg+xml" data="/assets/Pictures/top-personal.svg" style="fill: white;"></object>
						</div>
						<span>PERSONAL</span>
					</a>
				</div>

				<div class="col-12 col-sm-4">
					<a href="#portfolio" class="smoothscroll navigation-slide-a">
						<div class="home-hover navigation-slide">
							<object id="hoge" width='128' height='128' type="image/svg+xml" data="/assets/Pictures/top-student.svg" style="fill: white;"></object>
						</div>
						<span>STUDENT</span>
					</a>
				</div>

				<div class="col-12 col-sm-4">
					<a href="#clients" class="smoothscroll navigation-slide-a">
						<div class="home-hover navigation-slide">

							<object id="hoge" width='128' height='128' type="image/svg+xml" data="/assets/Pictures/top-business.svg" style="fill: white;"></object>
						</div>
						<span>BUSINESS</span>
					</a>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /slide1 -->
	<!-- === Slide 2 === -->
	<div class="slide story" id="about-us" data-slide="2">
		<div class="">
			<div class="row title-row">
				<div class="col-12 font-thin">知りたいこと、聞いてみよう</div>
				<h2>何でも聞ける場所</h2>
			</div>
			<!-- /row -->
			<div class="line-row">
				<div class="hr">&nbsp;</div>
			</div>
			<!-- /row -->
			<div class="subtitle-row">
				<div class="col-12 font-thin">Telledgeの<span class="font-semibold">特徴</span></div>
			</div>
			<!-- /row -->
			<div class="clearfix content-row">
				<div class="col-12 col-lg-3 col-sm-6">
					<p>
						<object id="hoge" width='64' height='64' type="image/svg+xml" data="/assets/Pictures/top-learning-new-thing.svg" style="fill: white;"></object>
					</p>
					<h2 class="font-thin">新しいことを学ぶ</h2>
					<h4 class="font-thin">未知の情報に触れる機会を得ます。また同時に知識を手に入れることが出来るかもしれません。</h4>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p>
						<object id="hoge" width='64' height='64' type="image/svg+xml" data="/assets/Pictures/top-look.svg" style="fill: white;"></object>
					</p>
					<h2 class="font-thin">理解を深める</h2>
					<h4 class="font-thin">あなたの情報を知識へと昇格させます。情報と知識は違います。</h4>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p>
						<object id="hoge" width='64' height='64' type="image/svg+xml" data="/assets/Pictures/top-debate.svg" style="fill: white;"></object>
					</p>
					<h2 class="font-semibold">議論をする</h2>
					<h4 class="font-thin">講師と触れ合うことで新たな発見があるかもしれません。ユーモアも含めてみて！</h4>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p>
						<object id="hoge" width='64' height='64' type="image/svg+xml" data="/assets/Pictures/top-teacher.svg" style="fill: white;"></object>
					</p>
					<h2 class="font-thin">教える</h2>
					<h4 class="font-thin">面白いことを知っているのであれば講師になる道もあります。世界の皆さんへ体験を共有しましょう。</h4>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /slide2 -->
	<!-- === SLide 3 - Portfolio -->
	<div class="slide story" id="portfolio" data-slide="3">
		<div class="row">
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p01-large.jpg"><img class="thumb" src="img/portfolio/p01-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p02-large.jpg"><img class="thumb" src="img/portfolio/p02-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p09-large.jpg"><img class="thumb" src="img/portfolio/p09-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p010-large.jpg"><img class="thumb" src="img/portfolio/p10-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p05-large.jpg"><img class="thumb" src="img/portfolio/p05-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p06-large.jpg"><img class="thumb" src="img/portfolio/p06-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p07-large.jpg"><img class="thumb" src="img/portfolio/p07-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p08-large.jpg"><img class="thumb" src="img/portfolio/p08-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p03-large.jpg"><img class="thumb" src="img/portfolio/p03-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p04-large.jpg"><img class="thumb" src="img/portfolio/p04-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p11-large.jpg"><img class="thumb" src="img/portfolio/p11-small.jpg" alt=""></a></div>
			<div class="col-12 col-sm-6 col-lg-2"><a data-fancybox-group="portfolio" class="fancybox" href="img/portfolio/p12-large.jpg"><img class="thumb" src="img/portfolio/p12-small.jpg" alt=""></a></div>
		</div>
		<!-- /row -->
	</div>
	<!-- /slide3 -->
	<!-- === Slide 4 - Process === -->
	<div class="slide story" id="process" data-slide="4">
		<div class="">
			<div class=" title-row">
				<div class="col-12 font-thin">講師として知識を共有する</div>
			</div>
			<!-- /row -->
			<div class=" line-row">
				<div class="hr">&nbsp;</div>
			</div>
			<!-- /row -->
			<div class=" subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<h2 class="col-12 col-sm-10 font-light">私たちは以下のような知識や経験を有する講師の方を歓迎しています。是非応募してください！</h2>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div>
			<!-- /row -->
			<div class="clearfix content-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 col-lg-3">
					<p><i class="fa fa-bolt"></i></p>
					<h2 class="font-thin">刺激的な体験</h2>
					<h4 class="font-thin">普段体験することの出来ない痺れるような経験をお持ちの方。</h4>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-sm-2 col-lg-3">
					<p><i class="fa fa-cog"></i></p>
					<h2 class="font-thin">専門知識</h2>
					<h4 class="font-thin">プログラミングなどの専門知識をお持ちの方。もちろんジャンルは問いません。</h4>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-sm-2 col-lg-3">
					<p><i class="fa fa-cloud"></i></p>
					<h2 class="font-thin">思想家</h2>
					<h4 class="font-thin">自分の考えを持つことは重要です。ユニークな考えを披露してください。</h4>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-sm-2 col-lg-3">
					<p><i class="fa fa-gift"></i></p>
					<h2 class="font-thin">教育の達人</h2>
					<h4 class="font-thin">人に何かを教えて理解してもらうことは容易ではありません。そんな特別なスキルをお持ちの方。専門知識もあるとすばらしいです！</h4>
				</div>
				<!-- /col12 -->
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /slide4 -->
	<!-- === Slide 5 === -->
	<div class="slide story" id="clients" data-slide="5">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">Telledgeに貢献する</div>
			</div>
			<!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div>
			<!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">
					私たちのアプリケーションはオープンソースで開発しています。プラットフォームをよりよくするためプログラマの皆さんからのコントリビュートをお待ちしています。
				</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">
					<a href="https://github.com/18jn02-8/telledge">Github : 18jn02-8/telledge</a>
				</div>
			</div>
			<!-- /row -->
			<div class="row content-row">
				<div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2"><img src="img/client01.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="img/client02.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="img/client03.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="img/client04.png" alt=""></div>
				<div class="col-12 col-sm-2"><img src="img/client05.png" alt=""></div>
				<div class="col-1 col-sm-1 hidden-sm">&nbsp;</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /slide5 -->
	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="contact" data-slide="6">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-light">何か質問はありますか</span></div>
			</div>
			<!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div>
			<!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<h2 class="col-12 col-sm-10 font-light">好きな方法で私たちに質問してください！ただボタンを押すだけですよ？</h2>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div>
			<!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="fa fa-phone"></i></a></p>
					<span class="hover-text font-light ">+44 4839-4343</span></a>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="fa fa-envelope"></i></a></p>
					<span class="hover-text font-light ">munter@example.com</span></a>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="fa fa-home"></i></a></p>
					<span class="hover-text font-light ">London, England<br>zip code 98443</span></a>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></p>
					<span class="hover-text font-light ">facebook/TemplateMag</span></a>
				</div>
				<!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></p>
					<span class="hover-text font-light ">TemplateMag</span></a>
				</div>
				<!-- /col12 -->
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div>
			<!-- /row -->

			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>フォームでからの問い合わせを希望ですか？</h1>
					<h2>以下に必要項目を記入してください</h2>
					<form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

						<div class="form-group">
							<label for="contact-name">名前</label>
							<input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
							<div class="validate"></div>
						</div>
						<div class="form-group">
							<label for="contact-email">Emailアドレス</label>
							<input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
							<div class="validate"></div>
						</div>
						<div class="form-group">
							<label for="contact-subject">件名</label>
							<input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
							<div class="validate"></div>
						</div>

						<div class="form-group">
							<label for="contact-message">問い合わせ本文</label>
							<textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
							<div class="validate"></div>
						</div>

						<div class="loading"></div>
						<div class="error-message"></div>
						<div class="sent-message">Your message has been sent. Thank you!</div>

						<div class="form-send">
							<button type="submit" class="btn btn-large">送信</button>
						</div>

					</form>
				</div>
			</div>
		</div>
		<!-- /container -->
	</div>

	<div id="copyrights">
		<div class="container">
			<p>
				&copy; Copyrights <strong>Munter</strong>. All Rights Reserved
			</p>
			<div class="credits">
				<!--
					以下のコメントとフッターを消さないでください。ライセンスに関する記述があります。
				-->
				<!--
				  You are NOT allowed to delete the credit link to TemplateMag with free version.
				  You can delete the credit link only if you bought the pro version.
				  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/munter-bootstrap-one-page-template/
				  Licensing information: https://templatemag.com/license/
				-->
				Created with Munter template by <a href="https://templatemag.com/">TemplateMag</a>
			</div>
		</div>
	</div>

	<!-- JavaScript Libraries -->
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/php-mail-form/validate.js"></script>
	<script src="lib/fancybox/fancybox.js"></script>

	<!-- Template Main Javascript File -->
	<script src="js/main.js"></script>

	<script>
		$('home-row-2 svg').css('fill', 'white');
		console.log($('home-row-2 svg'));
	</script>
</body>
</html>
