<!DOCTYPE html>

</head>
<body class="Registrations-box">
	<form action="/teacher/Registrations/create"  encType="multipart/form-data" method="post" name="Teacher">
		<h1>講師用登録画面</h1>
		<div>
			<span>名前</span>
		</div>
		<div>
			<span><input type="text" name="name"></span>
		</div>
		<div>
			<span>メールアドレス</span>
		</div>
		<div>
			<span><input type="text" name="mailaddress"></span>
		</div>
		<div>
			<span>パスワード</span>
		</div>
		<div>
			<span><input type="password" name="password"></span>
		</div>
		<div>
			<span>確認用パスワード</span>
		</div>
		<div>
			<span><input type="password" name="passwordConfirmation"></span>
		</div>
		<div>
			<span>証明写真</span>
		</div>
		<div>
			<span><input asp-for="FileUpload.FormatFile" type="file" name="imagePath" id="imagePath" /></span>
		</div>
		<div>
			<span>
				続行することで、 Telledgeの<a href="xxxx.html">利用規約</a><br>
				および<a href="xxxx.html">プライバシーポリシ</a>に
				同意するものとみなされます。
			</span>
		</div>
		<div>
			<span><input type="submit" value="登録"></span>
			<span><input type="submit" value="キャンセル"></span>
		</div>
	</form>
</body>
</html>
